        body {
            background-image: url("./images/google-sunset-mountains-background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            color: white;
        }

        header {
            text-align: center;
            padding: 25px;
        }

        nav a {
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            color: #9900FF;
        }

        fieldset {
            width: 40%;
            margin: 0 auto;
            padding: 20px;
            border: 2px solid white;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.7);
        }

        h1, h2, h3 {
            text-align: center;
        }

        img {
            /* display: block; */
            margin: 0 auto;
            border-radius: 50%;
        }

        a {
            text-decoration: none;
            color: white;
        }

        p {
            text-align: center;
        }

        hr {
            border: 1px solid white;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
        }

        video, audio {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

        footer {
            text-align: center;
            margin-top: 20px;
        }

        footer a {
            margin: 0 10px;
        }

        strong {
            font-weight: bold;
        }